@using LuckyMe.Models
@model LuckyMe.OwinIdentity.Account.LogIn.Command
@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col-md-6 col-xs-12 col-md-offset-3">

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Entra com a tua conta</h3>
            </div>
            <div class="box-body">

                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.DisplayNameFor(m => m.RememberMe)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" value="Entrar" class="btn btn-primary" />
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <p class="">
                                    @Html.ActionLink("Não tens conta? Cria uma grátis!", "Register", "Account")
                                </p>
                            </div>
                            
                        </div>
                        


                        @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
                    }
                </section>
                
                <hr />
                
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new { ViewBag.ReturnUrl })
                </section>
            </div>
        </div>  

    </div>
    <div class="col-md-offset-2 col-md-4 col-xs-12">
        
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
