@model IEnumerable<LuckyMe.Core.ViewModels.PerCategoryViewModel<LuckyMe.Core.ViewModels.EarningsPerGameViewModel>>

@{
    ViewBag.Title = "Estatísticas";
}


@Html.Action("SummaryEarningCosts")

@foreach (var category in Model)
{
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Custos vs Ganhos - @category.CatergoryName</h3>
        </div>
        <div class="box-body">

            <table class="table">
                <tr>
                    <th>
                        Jogo
                    </th>
                    <th>
                        Qtd.
                    </th>
                    <th>
                        Custos
                    </th>
                    <th>
                        Ganhos
                    </th>
                    <th>
                        Rating
                    </th>
                </tr>

                @foreach (var item in category.Items.OrderByDescending(o => o.AwardRate))
                {
                    <tr>
                        <td class="game-title">
                            @Html.DisplayFor(modelItem => item.Game.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Count)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalCost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalAward)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AwardRate)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
}
