@model LuckyMe.Core.Data.Draw

@{
    ViewBag.Title = "Novo";
}

<div class="row">
    <div class="col-md-6">
        
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">@ViewBag.Category - @ViewBag.Game</h3>
            </div>
            <div class="box-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.GameId)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Award, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Award, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Award, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" value="Adicionar" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        

        
    </div>
</div>


<div>
    <a href="@Url.Action("Index")"><i class="fa fa-arrow-left"></i> Escolher outro jogo</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
